{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <title>index</title>
    <link rel="stylesheet" href="{%static 'css/slide.css'%}">
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    
    <style>
        .ck-slide {
            width:690px;
            height:400px;
            display:inline-block;
        }
        .ck-slide ul.ck-slide-wrapper {
            height:100%;
            width:100%;
        }
        .swrapper{
            box-sizing:border-box;
            padding-top: 70px;
            width:100%;


        }
    </style>
</head>

<body>
    <div class="nav">
        <ul id="nav-list">
            <a href="javascript:;">首页</a>
            <a href="javascript:;">新闻报道</a>
            <a href="#map">疫情地图</a>
            <a href="javascript:;">接种情况</a>
            <a href="javascript:;">谣言辟谣</a>
            
        </ul>
    </div>
    <div class="center">
        <div class="main1" style="display: block;">
            <div class="swrapper">
                <div class="ck-slide">
                    <ul class="ck-slide-wrapper">
                        <li>
                            <a href="javascript:;"><img src="{%static 'images/1.jpg'%}" alt="" ></a>
                        </li>
                        <li style="display:none">
                            <a href="javascript:;"><img src="{%static 'images/2.jpg'%}" alt="" ></a>
                        </li>
                        <li style="display:none">
                            <a href="javascript:;"><img src="{%static 'images/3.jpg'%}" alt="" ></a>
                        </li>
                        <li style="display:none">
                            <a href="javascript:;"><img src="{%static 'images/4.jpg'%}" alt="" ></a>
                        </li>
                        <li style="display:none">
                            <a href="javascript:;"><img src="{%static 'images/5.jpg'%}" alt="" ></a>
                        </li>
                    </ul>
                    <a href="javascript:;" class="ctrl-slide ck-prev">上一张</a>
                    <a href="javascript:;" class="ctrl-slide ck-next">下一张</a>
                    <div class="ck-slidebox">
                        <div class="slideWrap">
                            <ul class="dot-wrap">
                                <li class="current"><em>1</em></li>
                                <li><em>2</em></li>
                                <li><em>3</em></li>
                                <li><em>4</em></li>
                                <li><em>5</em></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hotnews">
                    <div class="newstop" >
                        <a href="javascript:;" >最新新闻</a>
                        <a href="javascript:;" style="float:right">更多》</a>
                    </div>
                    <ul class="hotnew">
                        <!-- <li><a href="#">习近平新时代</a></li> -->
                        {% for i in data %}
                          <li><a href="{{i.sourceUrl}}">{{i.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            </div>
            <div class="content" style="display: block" data-index="0">
                
            </div>   
            <div class="content" style="display: none" data-index="1">
                <!-- <iframe src="news" frameborder="0" height="100%" width="100%"></iframe> -->
            </div>
            <div class="content" id="map" style="display: none" data-index="2" >
                <iframe src="map" frameborder="0" height="100%" width="100%"></iframe>
            </div>   
            <div class="content" style="display: none" data-index="3">
        
            </div>   
            <div class="content" style="display: none" data-index="4">
        
            </div>    
        </div>
        
        <script src="{%static 'js/jquery.min.js'%}"></script>
        <!-- <script src="{%static 'js/echarts.min.js'%}"></script>
        <script src="{%static 'js/china.js'%}"></script>  -->
        <!-- <script src="js/map.js"></script> -->
        <script src="{%static 'js/index.js'%}"></script>
        <script src="{%static 'js/slide.js'%}"></script>
        
        
    <script>
        $('.ck-slide').ckSlide({
            autoPlay:true
            /*dir:"x"*/
        });
    </script>
    
    
    
</body>
</html>