@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* *
{
	margin: 0;
	padding:0;
	font-family: 'Poppins',sans-serif;
} */

.warmcontents{

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

  font-family: 'Poppins',sans-serif;
}

.warmcontainer{

	position: relative;
	width: 1500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.warmcontainer .warmcard{
	position: relative;
	max-width: 450px;
	background:#fff;
	margin: 10px; 
	padding: 15px;
	display: flex;
	height:290px
}

.warmcontainer .warmcard .imgbox{
	max-width: 150px;
	flex: 0 0 150px;
}

.warmcontainer .warmcard .imgbox img{
	max-width: 100%;
}
.warmcontainer .warmcard .warmcontent{
	margin-left: 20px;
}

@media(max-width: 991px){
	.warmcontainer{
		flex-direction: column;
	}

}


@media(max-width: 768px){
	.warmcontainer{
		flex-direction: column;
	}

	.warmcontainer .warmcard{
		flex-direction: column;
		max-width: 350px;
	}

	.warmcontainer .warmcard .imgbox{
		max-width: 100%;
	}

	.warmcontainer .warmcard .warmcontent{
		margin-left: 0px;
	}
}





















